<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.eclipse.ui.editors">
      <editor
            class="jadex.tools.bpmn.editor.JadexBpmnEditor"
            contributorClass="jadex.tools.bpmn.editor.JadexBpmnEditorContributor"
            extensions="bpmn_diagram"
            icon="icons/bpmn.png"
            id="jadex.tools.bpmn.editor.JadexBpmnEditorID"
            name="Jadex BPMN Editor">
      </editor>
   </extension>
   
   <!-- add a jadex property tab to the editor-->
   <extension
        point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
     <propertyContributor
           contributorId="jadex.tools.bpmn.editor.JadexBpmnEditorID"
           typeMapper="jadex.tools.bpmn.editor.properties.EModelTypeMapper">
        <propertyCategory category="Jadex"/>
     </propertyContributor>
  </extension>
  <extension 
  		point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
     <propertyTabs 
     	contributorId="jadex.tools.bpmn.editor.JadexBpmnEditorID">
        <propertyTab
              category="Jadex"
              id="Jadex"
              indented="false"
              label="Jadex"/>
     </propertyTabs>
   </extension>
   
    <!-- the jadex common property section -->
	<extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
     <propertySections contributorId="jadex.tools.bpmn.editor.JadexBpmnEditorID">
        <propertySection
              class="jadex.tools.bpmn.editor.properties.JadexCommonPropertySection"
              id="jadex.tools.bpmn.editor.properties.JadexCommonPropertySection"
              tab="Jadex">
           <input type="org.eclipse.stp.bpmn.Identifiable"/>
           <!-- use all EModelElements as input -->
           <input type="org.eclipse.emf.ecore.EModelElement"/>
        </propertySection>
     </propertySections>
   </extension>
   
   <!-- the jadex user task activity property section - ->
	<extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
     <propertySections contributorId="jadex.tools.bpmn.editor.JadexBpmnEditorID">
        <propertySection
              class="jadex.tools.bpmn.editor.properties.JadexUserTaskActivityPropertySection"
              filter="jadex.tools.bpmn.editor.properties.JadexUserTaskActivityFilter"
              id="jadex.tools.bpmn.editor.propertySection.UserTaskActivity"
              tab="Jadex"
              afterSection="jadex.tools.bpmn.editor.properties.JadexCommonPropertySection">
           <input type="org.eclipse.stp.bpmn.Activity"/>
        </propertySection>
     </propertySections>
   </extension> -->
   
   <!-- the jadex user task activity class implementation property section -->
	<extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
     <propertySections contributorId="jadex.tools.bpmn.editor.JadexBpmnEditorID">
        <propertySection
              class="jadex.tools.bpmn.editor.properties.JadexUserTaskImplComboSection"
              filter="jadex.tools.bpmn.editor.properties.JadexUserTaskActivityFilter"
              id="jadex.tools.bpmn.editor.properties.JadexUserTaskImplComboSection"
              tab="Jadex"
              afterSection="jadex.tools.bpmn.editor.properties.JadexCommonPropertySection">
           <input type="org.eclipse.stp.bpmn.Activity"/>
        </propertySection>
     </propertySections>
   </extension>
   
   <!-- the jadex user task activity parameter property section -->
	<extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
     <propertySections contributorId="jadex.tools.bpmn.editor.JadexBpmnEditorID">
        <propertySection
              class="jadex.tools.bpmn.editor.properties.JadexCommonDiagramParameterSection"
              filter="jadex.tools.bpmn.editor.properties.JadexUserTaskActivityFilter"
              id="jadex.tools.bpmn.editor.properties.JadexCommonDiagramParameterSection"
              tab="Jadex"
              afterSection="jadex.tools.bpmn.editor.properties.JadexUserTaskImplComboSection">
           <input type="org.eclipse.stp.bpmn.Activity"/>
        </propertySection>
     </propertySections>
   </extension>
   
   <!-- the jadex intermediate events activity property section -->
	<extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
     <propertySections contributorId="jadex.tools.bpmn.editor.JadexBpmnEditorID">
        <propertySection
              class="jadex.tools.bpmn.editor.properties.JadexIntermediateEventsParameterSection"
              filter="jadex.tools.bpmn.editor.properties.JadexIntermediateEventsFilter"
              id="jadex.tools.bpmn.editor.propertySection.GatewayActivity"
              tab="Jadex"
              afterSection="jadex.tools.bpmn.editor.properties.JadexCommonPropertySection">
           <input type="org.eclipse.stp.bpmn.Activity"/>
        </propertySection>
     </propertySections>
   </extension>
   
    <!-- the jadex sequence property section -->
	<extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
     <propertySections contributorId="jadex.tools.bpmn.editor.JadexBpmnEditorID">
        <propertySection
              class="jadex.tools.bpmn.editor.properties.JadexSequencePropertiesSection"
              id="jadex.tools.bpmn.editor.properties.JadexSequencePropertiesSection"
              tab="Jadex"
              afterSection="jadex.tools.bpmn.editor.properties.JadexCommonPropertySection">
           <input type="org.eclipse.stp.bpmn.SequenceEdge"/>
        </propertySection>
     </propertySections>
   </extension>
   
   <!-- the jadex sequence property section -->
	<extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
     <propertySections contributorId="jadex.tools.bpmn.editor.JadexBpmnEditorID">
        <propertySection
              class="jadex.tools.bpmn.editor.properties.JadexSequenceMappingSection"
              id="jadex.tools.bpmn.editor.properties.JadexSequenceMappingSection"
              tab="Jadex"
              afterSection="jadex.tools.bpmn.editor.properties.JadexSequencePropertiesSection">
           <input type="org.eclipse.stp.bpmn.SequenceEdge"/>
        </propertySection>
     </propertySections>
   </extension>
   
    <!-- the jadex bpmndiagram property section -->
	<extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
     <propertySections contributorId="jadex.tools.bpmn.editor.JadexBpmnEditorID">
        <propertySection
              class="jadex.tools.bpmn.editor.properties.JadexBpmnDiagramPropertiesSection"
              id="jadex.tools.bpmn.editor.properties.JadexGlobalDiagramPropertiesSection"
              tab="Jadex"
              afterSection="jadex.tools.bpmn.editor.properties.JadexCommonPropertySection">
           <input type="org.eclipse.stp.bpmn.BpmnDiagram"/>
        </propertySection>
     </propertySections>
   </extension>
   
    <!-- the jadex bpmndiagram import section -->
	<extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
     <propertySections contributorId="jadex.tools.bpmn.editor.JadexBpmnEditorID">
        <propertySection
              class="jadex.tools.bpmn.editor.properties.JadexBpmnDiagramImportsSection"
              id="jadex.tools.bpmn.editor.properties.JadexGlobalDiagramImportsSection"
              tab="Jadex"
              afterSection="jadex.tools.bpmn.editor.properties.JadexGlobalDiagramPropertiesSection">
           <input type="org.eclipse.stp.bpmn.BpmnDiagram"/>
        </propertySection>
     </propertySections>
   </extension>
   
    <!-- the jadex bpmndiagram parameter section -->
	<extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
     <propertySections contributorId="jadex.tools.bpmn.editor.JadexBpmnEditorID">
        <propertySection
              class="jadex.tools.bpmn.editor.properties.JadexCommonDiagramParameterSection"
              id="jadex.tools.bpmn.editor.properties.JadexGlobalDiagramParameterSection"
              tab="Jadex"
              afterSection="jadex.tools.bpmn.editor.properties.JadexGlobalDiagramImportsSection">
           <input type="org.eclipse.stp.bpmn.BpmnDiagram"/>
        </propertySection>
     </propertySections>
   </extension>
   
   <!-- annotation decorator in diagram -->
	<!--
	<extension
        point="org.eclipse.stp.bpmn.diagram.EAnnotationDecorator">
     <decorator
           class="jadex.tools.bpmn.editor.properties.JadexActivityAnnotationDecorator"
           source="task"/>
  </extension>
	-->
	
	<!-- the default palette -->
   <extension point="org.eclipse.gmf.runtime.diagram.ui.paletteProviders">
      <paletteProvider class="org.eclipse.stp.bpmn.diagram.providers.BpmnPaletteProvider">
         <Priority name="Lowest"/>
         <editor id="jadex.tools.bpmn.editor.JadexBpmnEditorID"/>
      </paletteProvider>
   </extension>
   
	<!-- some global action handlers -->
	<extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders">
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="BpmnPresentation">
         <Priority name="Lowest"/>
         <ViewId id="jadex.tools.bpmn.editor.JadexBpmnEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="BpmnPresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="jadex.tools.bpmn.editor.JadexBpmnEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="BpmnRender">
         <Priority name="Lowest"/>
         <ViewId id="jadex.tools.bpmn.editor.JadexBpmnEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>
   
   <!-- the appereance properties tab -->
   <extension
       point="org.eclipse.ui.views.properties.tabbed.propertySections">
    <propertySections
          contributorId="jadex.tools.bpmn.editor.JadexBpmnEditorID">
       <propertySection
             class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection"
             id="Appearance"
             tab="Appearance">
          <input
                type="java.lang.Object">
          </input>
       </propertySection>
    </propertySections>
 </extension>
 <extension
       point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
    <propertyTabs
          contributorId="jadex.tools.bpmn.editor.JadexBpmnEditorID">
       <propertyTab
             category="Appearance"
             id="Appearance"
             indented="false"
             label="Appearance">
       </propertyTab>
    </propertyTabs>
 </extension>
 <extension
       point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
    <propertyContributor
          contributorId="jadex.tools.bpmn.editor.JadexBpmnEditorID">
       <propertyCategory
             category="Appearance"></propertyCategory>
    </propertyContributor>
 </extension>
 
 <!-- ruler & grid tab -->
 <extension
       point="org.eclipse.ui.views.properties.tabbed.propertySections">
    <propertySections
          contributorId="jadex.tools.bpmn.editor.JadexBpmnEditorID">
       <propertySection
             class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection"
             id="Ruler &amp; Grid"
             tab="Ruler &amp; Grid">
          <input
                type="java.lang.Object">
          </input>
       </propertySection>
    </propertySections>
 </extension>
 <extension
       point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
    <propertyTabs
          contributorId="jadex.tools.bpmn.editor.JadexBpmnEditorID">
       <propertyTab
             category="Ruler &amp; Grid"
             id="Ruler &amp; Grid"
             label="Ruler &amp; Grid">
       </propertyTab>
    </propertyTabs>
 </extension>
 <extension
       point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
    <propertyContributor
          contributorId="jadex.tools.bpmn.editor.JadexBpmnEditorID">
       <propertyCategory
             category="Ruler &amp; Grid">
       </propertyCategory>
    </propertyContributor>
 </extension>
 
 <!-- the Annotations property tab from BPMN Modeler - this is a modified copy from BPMN plugin.xml-->
 <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="jadex.tools.bpmn.editor.JadexBpmnEditorID"
            typeMapper="org.eclipse.stp.bpmn.properties.EAnnotationsTypeMapper">
         <propertyCategory category="Annotations"/>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs contributorId="jadex.tools.bpmn.editor.JadexBpmnEditorID">
         <propertyTab
               category="Annotations"
               id="Annotations"
               indented="false"
               label="Annotations"/>
               <!-- label="%propertyTab_label"/> -->
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="jadex.tools.bpmn.editor.JadexBpmnEditorID">
         <propertySection
               class="org.eclipse.stp.bpmn.properties.EAnnotationsMapSection"
               id="Annotations Map"
               tab="Annotations">
            <input type="org.eclipse.stp.bpmn.Identifiable"/>
            <input type="org.eclipse.emf.ecore.EObject"/>
            <!-- <input type="java.lang.Object"/> -->
         </propertySection>
      </propertySections>
   </extension>
 
</plugin>
