<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jadex.android.platformapp"
    android:versionCode="2"
    android:versionName="2.3" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="JadexPlatform"
        android:screenOrientation="portrait" >
        <activity android:name="jadex.android.standalone.platformapp.JadexMiddlewareActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="net.sourceforge.jadex.LOAD_APPLICATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- <activity android:name="jadex.android.controlcenter.JadexAndroidControlCenter" /> -->


        <service android:name="jadex.android.service.JadexPlatformService" android:label="JadexPlatformService"></service>
        
        <service android:name="jadex.android.bluetooth.service.ConnectionService" android:label="BluetoothConnectionService"></service>
        
        <service android:name="jadex.android.standalone.clientservice.UniversalClientService" android:label="UniversalClientservice"></service>

    </application>

</manifest>