<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/jadex-distributed/src/main/java/jadex/distributed/Platform.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="jadex.distributed.Platform"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-conf jadex/distributed/config/services_conf_client.xml&#13;&#10;jadex/distributed/config/platformagents_conf_client.xml&#13;&#10;jadex/application/kernel_application_conf.xml&#13;&#10;jadex/bdi/kernel_bdi_conf.xml&#13;&#10;jadex/micro/kernel_micro_conf.xml"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="jadex-distributed"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-ea&#13;&#10;-Dswing.defaultllaf=com.sun.java.swing.plaf.windows.WindowsLookAndFeel&#13;&#10;-Dagentlib:jprofilerti&#10;-Dcom.sun.management.jmxremote.authenticate=false&#10;-Dcom.sun.management.jmxremote.port=4711&#10;-Dcom.sun.management.jmxremote.ssl=false"/>
</launchConfiguration>
