@CHARSET "ISO-8859-1";

/** Description texts. */
.desc
{
	font-family: 'Times New Roman', Times, serif;
	font-style: italic;
}

/** Element names. */
.name
{
	/*font-weight: bold;*/
}

/** Data types and values. */
.type, .value
{
	font-family: monospace;
}
