<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="jadex.android.applications.demos" android:versionCode="2"
	android:versionName="2.3">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="26"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

	<application android:icon="@drawable/icon" android:screenOrientation="portrait" android:label="@string/app_name" android:allowBackup="true">
		<activity android:name="DemoChooserActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="jadex.android.controlcenter.JadexAndroidControlCenter"></activity>
		<activity android:name="jadex.android.controlcenter.componentViewer.ComponentViewer"></activity>
		<service android:name="jadex.android.service.JadexPlatformService" android:label="JadexPlatformService"></service>
		<activity android:name=".event.EventDemoActivity"></activity>
		<activity android:name=".benchmark.BenchmarkDemoActivity"></activity>
		<activity android:name=".bpmn.BPMNDemoActivity"></activity>
		<activity android:name=".bpmn.QuestionActivity"></activity>
		<activity android:name=".bpmn.AnswerActivity"></activity>
		<activity android:name=".bdi.BDIDemoActivity"></activity>
		<activity android:name=".rest.RestDemoActivity" android:windowSoftInputMode="adjustPan"></activity>
		<activity android:name=".rest.view.RestImageActivity"></activity>
		<activity android:name=".controlcenter.ControlCenterDemoActivity"></activity>
		<activity android:name=".bdiv3.BDIV3DemoActivity"></activity>
	</application>
	
</manifest>