build
target
bin
gen
.settings
.classpath
.project
*.prefs
*.copy
keystore
jadex_certstore.zip
*.settings.xml
settings_*
alarmclock_settings.ser
**/testkeystore
jadex-platform-standalone-launch/highscore.dmp
/jadex-editor-bpmn/config/classes.cache
/jadex-editor-bpmn/config/settings.cfg
/microcreationtime.properties
/microkillingtime.properties
/micromem.properties
/jadex-platform-android/tmp/cached-robolectric-classes.jar
/jadex-platform-standalone-launch/.repoindices/Maven Central
/docs/keys/random_seed
**/.gradle
/jadex-platform-extension-relay-standalone/.relaystats
**/.idea
*.iml
/jadex-android-bluetooth/lint.xml
/jadex-platform-standalone-launch/.jadex/resources
/jadex-platform-standalone-launch/.jadex
/jadex-commons/.jadex
/jadex-platform-extension-management/.jadex
/jadex-platform-extension-securetransport/.jadex
/jadex-platform-extension-webservice-desktop/.jadex
/jadex-platform-extension-relay/.relaystats
/jadex-platform-standalone-launch/OpenAL64.dll
/jadex-platform-standalone-launch/lwjgl64.dll
/jadex-platform/.jadex
.jadex
/jadex-integration-test/highscore.dmp
/jadex-integration-test/certstore.zip
/jadex-platform-standalone-launch/src/main/config/Invoker.launch
/local.properties
/jadex-platform/testfile.txt
/jadex-applications-micro/HelplineEvaluation.launch
/reports
/public
