target
bin
gen
.settings
.classpath
.project
*.prefs
*.copy
keystore
*.settings.xml
alarmclock_settings.ser
**/testkeystore
jadex-platform-standalone-launch/highscore.dmp
/jadex-editor-bpmn/config/classes.cache
/jadex-editor-bpmn/config/settings.cfg
/microcreationtime.properties
/microkillingtime.properties
/micromem.properties
/jadex-platform-android/tmp/cached-robolectric-classes.jar
/jadex-platform-standalone-launch/.repoindices/Maven Central
/build/
/docs/keys/random_seed
