<settings>
	<servers>
		<server>
			<id>sonatype-nexus-staging</id>
			<username>Lars</username>
			<password>lax</password>
		</server>
	</servers>

	<!-- <profiles>
		<profile>
			<id>jadex-xml-artifacts</id>
			<properties>
				<!- - <gpg.homedir>docs/keys</gpg.homedir>- ->
				<gpg.passphrase>lax</gpg.passphrase>
			</properties>
		</profile>
	</profiles> -->
</settings> 