<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jadex.android.puzzle"
    android:versionCode="2"
    android:versionName="2.3" >

    <uses-sdk android:minSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:icon="@drawable/puzzle20x20"
        android:label="Puzzle"
        android:screenOrientation="portrait" >
        <activity android:name="jadex.android.puzzle.SokratesLoaderActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SokratesGameActivity" >
        </activity>
        
        <service
            android:name="jadex.android.puzzle.SokratesService"
            android:label="SokratesService" >
        </service>
        
    </application>

</manifest>