/* Production Line communication graph dot confiuration template */

digraph G {
	/* size = "20,100"; */
	concentrate = "true";
	
/* transporter nodes: */
#foreach($transport in $transports)
	$transport.agentId [shape=ellipse];
#end

/* robot nodes: */
#foreach($robot in $robots)
	$robot.agentId [shape=record];
#end

/* connections: */

#foreach($transport in $transports)
	$transport.input -> $transport.agentId -> $transport.output
#end
#foreach($robot in $robots)
	$robot.input -> $robot.agentId -> $robot.output;
#end
}