/* Production Line resource flow graph dot confiuration template */

digraph G {
	/* size = "20,100"; */
	concentrate = "false";
	
/* agent nodes: */
#foreach($agent in $transports)
	$agent.agentId [shape=ellipse];
#end
#foreach($agent in $robots)
	$agent.agentId [shape=record];
#end

/* connections: */
#foreach($agent in $transports)
	#if($agent.predecessor)
		$agent.predecessor -> $agent.agentId [label="$agent.taskId"]
	#end
	#if($agent.successor)
		$agent.agentId -> $agent.successor [label="$agent.taskId"]
	#end
#end
}