#Jadex BPMN Editor Settings
#Thu Sep 27 10:57:19 CEST 2018
stylesheet=Color Gradient
toolbariconsize=32
smoothzoom=true
openfile2=C\:\\projects\\aul\\trunk\\lehre_hsb\\MKSS18\\klausur\\Katze.bpmn2
savesettingsonexit=true
nametypedataautoconnect=true
openfile1=C\:\\projects\\aul\\trunk\\lehre_hsb\\MKSS17\\klausur\\Imbiss.bpmn2
lfname=Metal
jadexextensions=true
lastfile=C\:\\projects\\aul\\trunk\\lehre_hsb\\MKSS18\\klausur\\Katze.bpmn2
directsequenceautoconnect=true
sequenceedges=true
dataedges=true
