@CHARSET "ISO-8859-1";

/* title text. */
.h0 {
	font-size: xx-large;
	font-weight: bold;
}


h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-large;
	height: auto;
	width: auto;
	border-bottom: 1px solid #EAD085;
	/*color: #d3af41;
	color: #d3af41;	
	color: #0D297C;*/
	color: #000000;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: large;
	height: auto;
	width: auto;
	color: #000000;
	margin-top: 20pt;
	margin-bottom: 5pt;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0pt;
	background-color: #F7F8FD;
	text-align: center;
	font-size: medium;
}

a:link
{
	color: #0D297C;
}

a:active
{
	color: #D8DFF2;
}

a:visited
{
	color: #0D297C;
}

a:hover
{
	color: #D8DFF2;
	text-decoration: none;
}

/* Bar separating title from rest of page. */
.horbar {
	background-color: #EAD085;
	background-attachment: fixed;
	background-image: url(shadebar.png);
	background-repeat: repeat-y;
	background-position: left top;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D3AF41;
	font-size: 1px;
	padding: 0pt;
}

/* Bar for footer. */
.horbar2 {
	background-color: #EAD085;
	background-attachment: fixed;
	background-image: url(shadebar.png);
	background-repeat: repeat-y;
	background-position: left top;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #D3AF41;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D3AF41;
	font-size: small;
	padding: 0pt;
}

/* Classes for navbar. */
.navblock {
	padding: 10pt;
	background-color: #D8DFF2;
}

tr.package td
{
	background-color: #0d297c;
	color: white;
	font-size: small;
	border: white solid 3px;
}

tr.model td
{
	background-color: white;
	border-bottom: 1px solid silver;
	font-size: small;
}

/* Class for content area. */
.textblock {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #D3AF41;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D3AF41;
	background-color: #FFF2CC;
	padding: 10pt;
	padding-left: 40pt;
	padding-right: 40pt;
	font-family: Arial, Helvetica, sans-serif;
	text-align: justify;
}


th
{
	text-align: left;
	padding-top: 10pt;
}

table.printtable
{
	border-spacing: 0px;
    background-color: #d8dff2;
    border-style: solid;
    border-width: 1px;
    border-color: silver;
    width: 100%;
}

table.printtable th
{
	padding: 5pt;
}

table.printtable td
{
	padding: 5pt;
}

p, dl, ul, ol {
	text-align: justify;
	padding: 0pt;
	padding-bottom: 15pt;
	border: 1px none #EAD085;
	border-bottom-style: solid;
}

/* For paragraphs without bottom line. */
.noborder {
	border:	none;
	padding: 0pt;
}

.even
{
	background-color: white;
}

.odd
{
	background-color: #dddddd;
}

.highlight
{
	background-color: #ffff80;
}

/** Description texts. */
.desc
{
	font-family: 'Times New Roman', Times, serif;
	font-style: italic;
}

/** Element names. */
.name
{
	/*font-weight: bold;*/
}

/** Data types and values. */
.type, .value
{
	font-family: monospace;
}
