<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="com.objfac.ant.preprocess"
   name="Preprocess Plug-in"
   version="0.9.1"
   provider-name="Bocaloco Software LLC"
   class="com.objfac.ant.preprocess.PreprocessPlugin">

   <runtime>
      <library name="preprocess.jar"/>
    </runtime>
   <requires>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.apache.ant"/>
   </requires>

	<extension point="org.eclipse.ant.core.antTasks">
		<!-- Eclipse bug requires that task be in separate jar not in runtime libraries -->
		<antTask name="preprocess" 
			class="com.objfac.prebop.ant.PreprocessorTask" 
			library="preprocessor.jar"/>
	</extension>

	<extension point="org.eclipse.help.toc">
		<toc file="toc.xml" primary="true"/>
	</extension>
</plugin>
