#map {
	border: 1px solid #ccc;
	width: 100%;
	height: 100%;
}

#progress {
    display: none;
    position: absolute;
    z-index: 1000;
    left: 400px;
    top: 300px;
    width: 200px;
    height: 20px;
    margin-top: -20px;
    margin-left: -100px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 4px;
    padding: 2px;
}

#progress-bar {
    width: 0;
    height: 100%;
    background-color: #76A6FC;
    border-radius: 4px;
}

#mapcontainer {
/*	width: 520px; 
	height: 390px; */
	width: 800px; 
	height: 480px;
	padding-right: 0.5em;
    padding-bottom: 0.5em;
}

.ui-resizable-helper {
	border: 1px dotted gray;
}