<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="de.unihamburg.vsis.jadexAndroid_test" android:versionCode="1" android:versionName="2.2-SNAPSHOT">
    <uses-sdk android:minSdkVersion="8"></uses-sdk>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
	<uses-permission android:name="android.permission.BLUETOOTH"/>
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

  <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
    <activity android:name="MainMenu">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    
    <service android:label="Log Processor" android:name="com.michaelrnovak.util.logger.service.LogProcessor"></service>
    <activity android:name=".Logger"></activity>
    <activity android:name=".AgentActivity"></activity>
    <activity android:name=".AwarenessActivity"></activity>
    <activity android:label="MeasureActivity" android:name=".chat.MeasureActivity"></activity>
    
    <service android:name="jadex.android.bluetooth.service.ConnectionService"/>
  </application>

</manifest>

