body {
	margin: 0pt;
/*	background-color: #00FF00;
*/	text-align: left;
	font: $text_font;
	background-color: $text_background;
	color: $text_foreground;
}

table {
/*	border: thin solid #00FFFF;
*/	width: 100%;
}
.element {
	padding:	1px;
/*	padding-right:	0px;
*/
}

.cell {
	padding-left:	5px;
	padding-right:	5px;
	padding-top:	2px;
	padding-bottom:	2px;
}

tr {
	text-align: left;
}

.title {
	text-align: left;
	font: $title_font;
	background-color: $title_background;
	color: $title_foreground;
}

.attribute {
	font: $attribute_font;
	background-color: $attribute_background;
	color: $attribute_foreground;
	width: 30%;
}

.value {
	font: $text_font;
	background-color: $text_background;
	color: $text_foreground;
}

.complex {
	background-color: $border;
}

