<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.eclipse.ui.editors">
      <editor
            class="jadex.editor.bpmn.editor.JadexBpmnEditor"
            matchingStrategy="org.eclipse.stp.bpmn.diagram.part.BpmnMatchingStrategy"
            contributorClass="jadex.editor.bpmn.editor.JadexBpmnEditorContributor"
            extensions="bpmn_diagram"
            default="true"
            icon="icons/bpmn.png"
            id="jadex.editor.bpmn.JadexBpmnEditor"
            name="Jadex BPMN Editor">
      </editor>
   </extension>
   
   <!-- custom edit part provider -->
   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders">
      <editpartProvider class="jadex.editor.bpmn.diagram.providers.JadexEditPartProvider">
         <Priority name="Highest"/>
      </editpartProvider>
   </extension>
   
   <!-- Jadex BPMN - Preference page -->
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="jadex.editor.bpmn.editor.preferences.JadexPreferencesPage"
            id="jadex.editor.bpmn.editor.preferences.JadexPreferencesPage"
            name="Jadex">
      </page>
      <page
            category="jadex.editor.bpmn.editor.preferences.JadexPreferencesPage"
            class="jadex.editor.bpmn.editor.preferences.JadexBpmnEditorPreferencePage"
            id="jadex.editor.bpmn.editor.preferences.JadexBpmnEditorPreferencePage"
            name="BPMN Editor">
      </page>
      <page
      		category="jadex.editor.bpmn.editor.preferences.JadexBpmnEditorPreferencePage"
            class="jadex.editor.bpmn.editor.preferences.JadexBpmnClassLoaderPreferencePage"
            id="jadex.editor.bpmn.editor.preferences.JadexBpmnClassLoaderPreferencePage"
            name="Task Classloader">
      </page>
   </extension>
   
   <!-- Jadex BPMN - Preference initializer -->
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="jadex.editor.bpmn.editor.preferences.JadexBpmnPluginPreferenceInitializer">
      </initializer>
   </extension>
   
   
   <!-- add a jadex property tab to the editor-->
   <extension
        point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
     <propertyContributor
           contributorId="jadex.editor.bpmn.JadexBpmnEditor"
           typeMapper="jadex.editor.bpmn.editor.properties.template.EModelTypeMapper">
        <propertyCategory category="Jadex"/>
     </propertyContributor>
  	</extension>
  
  	<extension 
  		point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
     <propertyTabs 
     	contributorId="jadex.editor.bpmn.JadexBpmnEditor">
        <propertyTab
              category="Jadex"
              id="Jadex"
              indented="false"
              label="Jadex"/>
     </propertyTabs>
   </extension>
   
    <!-- the jadex common property section -->
	<extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
     <propertySections contributorId="jadex.editor.bpmn.JadexBpmnEditor">
        <propertySection
              class="jadex.editor.bpmn.editor.properties.JadexCommonPropertySection"
              id="jadex.tools.bpmn.editor.properties.JadexCommonPropertySection"
              tab="Jadex">
           <input type="org.eclipse.stp.bpmn.Identifiable"/>
           <!-- use all EModelElements as input -->
           <input type="org.eclipse.emf.ecore.EModelElement"/>
        </propertySection>
     </propertySections>
   </extension>
   
   <!-- the jadex user task activity class implementation property section -->
	<extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
     <propertySections contributorId="jadex.editor.bpmn.JadexBpmnEditor">
        <propertySection
              class="jadex.editor.bpmn.editor.properties.JadexUserTaskImplComboSection"
              filter="jadex.editor.bpmn.editor.properties.JadexUserTaskActivityFilter"
              id="jadex.tools.bpmn.editor.properties.JadexUserTaskImplComboSection"
              tab="Jadex"
              afterSection="jadex.tools.bpmn.editor.properties.JadexCommonPropertySection">
           <input type="org.eclipse.stp.bpmn.Activity"/>
        </propertySection>
     </propertySections>
   </extension>
   
   <!-- the jadex user task activity parameter property section -->
	<extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
     <propertySections contributorId="jadex.editor.bpmn.JadexBpmnEditor">
        <propertySection
              class="jadex.editor.bpmn.editor.properties.JadexCommonParameterSection"
              filter="jadex.editor.bpmn.editor.properties.JadexUserTaskActivityFilter"
              id="jadex.tools.bpmn.editor.properties.JadexCommonParameterSection"
              tab="Jadex"
              afterSection="jadex.tools.bpmn.editor.properties.JadexUserTaskImplComboSection">
           <input type="org.eclipse.stp.bpmn.Activity"/>
        </propertySection>
     </propertySections>
   </extension>
   
  
   <!-- the jadex sub process file property section -->
	<extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
     <propertySections contributorId="jadex.editor.bpmn.JadexBpmnEditor">
        <propertySection
              class="jadex.editor.bpmn.editor.properties.JadexSubProcessFilePropertySection"
              id="jadex.tools.bpmn.editor.properties.JadexSubProcessPropertySection"
              tab="Jadex"
              afterSection="jadex.tools.bpmn.editor.properties.JadexCommonPropertySection">
           <input type="org.eclipse.stp.bpmn.SubProcess"/>
        </propertySection>
     </propertySections>
   </extension>
   
   <!-- the jadex sub process parallel property section -->
	<extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
     <propertySections contributorId="jadex.editor.bpmn.JadexBpmnEditor">
        <propertySection
              class="jadex.editor.bpmn.editor.properties.JadexSubProcessParallelSection"
              id="jadex.tools.bpmn.editor.properties.JadexSubProcessParallelSection"
              tab="Jadex"
              afterSection="jadex.tools.bpmn.editor.properties.JadexSubProcessPropertySection">
           <input type="org.eclipse.stp.bpmn.SubProcess"/>
        </propertySection>
     </propertySections>
   </extension>
   
   <!-- the jadex sub process file property section -->
	<extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
     <propertySections contributorId="jadex.editor.bpmn.JadexBpmnEditor">
        <propertySection
              class="jadex.editor.bpmn.editor.properties.JadexSubProcessItemsPropertySection"
              id="jadex.tools.bpmn.editor.properties.JadexSubProcessItemsPropertySection"
              tab="Jadex"
              afterSection="jadex.tools.bpmn.editor.properties.JadexSubProcessParallelSection">
           <input type="org.eclipse.stp.bpmn.SubProcess"/>
        </propertySection>
     </propertySections>
   </extension>
   
   <!-- the jadex sub process parameter section -->
	<extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
     <propertySections contributorId="jadex.editor.bpmn.JadexBpmnEditor">
        <propertySection
              class="jadex.editor.bpmn.editor.properties.JadexCommonParameterSection"
              id="jadex.tools.bpmn.editor.properties.JadexSubProcessParameterSection"
              tab="Jadex"
              afterSection="jadex.tools.bpmn.editor.properties.JadexSubProcessItemsPropertySection">
           <input type="org.eclipse.stp.bpmn.SubProcess"/>
        </propertySection>
     </propertySections>
   </extension>
   
  
    
    <!-- timer event property section -->
	<extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
     <propertySections contributorId="jadex.editor.bpmn.JadexBpmnEditor">
        <propertySection
              class="jadex.editor.bpmn.editor.properties.JadexTimerEventPropertySection"
              filter="jadex.editor.bpmn.editor.properties.JadexTimerEventFilter"
              id="jadex.tools.bpmn.editor.properties.JadexTimerEventPropertySection"
              tab="Jadex"
              afterSection="jadex.tools.bpmn.editor.properties.JadexCommonPropertySection">
           <input type="org.eclipse.stp.bpmn.Activity"/>
        </propertySection>
     </propertySections>
   </extension>
   
   <!-- timer event parameter section -->
	<extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
     <propertySections contributorId="jadex.editor.bpmn.JadexBpmnEditor">
        <propertySection
              class="jadex.editor.bpmn.editor.properties.JadexIntermediateEventsParameterSection"
              filter="jadex.editor.bpmn.editor.properties.JadexTimerEventFilter"
              id="jadex.tools.bpmn.editor.propertySection.JadexTimerParameterSection"
              tab="Jadex"
              afterSection="jadex.tools.bpmn.editor.properties.JadexTimerEventPropertySection">
           <input type="org.eclipse.stp.bpmn.Activity"/>
        </propertySection>
     </propertySections>
   </extension>
   
   
   
	<!-- rule event property section -->
	<extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
     <propertySections contributorId="jadex.editor.bpmn.JadexBpmnEditor">
        <propertySection
              class="jadex.editor.bpmn.editor.properties.JadexNotificationEventPropertySection"
              filter="jadex.editor.bpmn.editor.properties.JadexRuleEventFilter"
              id="jadex.tools.bpmn.editor.properties.JadexRuleEventPropertySection"
              tab="Jadex"
              afterSection="jadex.tools.bpmn.editor.properties.JadexCommonPropertySection">
           <input type="org.eclipse.stp.bpmn.Activity"/>
        </propertySection>
     </propertySections>
   </extension>
   
   <!-- rule event parameter section -->
	<extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
     <propertySections contributorId="jadex.editor.bpmn.JadexBpmnEditor">
        <propertySection
              class="jadex.editor.bpmn.editor.properties.JadexIntermediateEventsParameterSection"
              filter="jadex.editor.bpmn.editor.properties.JadexRuleEventFilter"
              id="jadex.tools.bpmn.editor.propertySection.JadexRuleParameterSection"
              tab="Jadex"
              afterSection="jadex.tools.bpmn.editor.properties.JadexRuleEventPropertySection">
           <input type="org.eclipse.stp.bpmn.Activity"/>
        </propertySection>
     </propertySections>
   </extension>
   
   
   <!-- signal event property section -->
	<extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
     <propertySections contributorId="jadex.editor.bpmn.JadexBpmnEditor">
        <propertySection
              class="jadex.editor.bpmn.editor.properties.JadexNotificationEventPropertySection"
              filter="jadex.editor.bpmn.editor.properties.JadexSignalEventFilter"
              id="jadex.tools.bpmn.editor.properties.JadexSignalEventPropertySection"
              tab="Jadex"
              afterSection="jadex.tools.bpmn.editor.properties.JadexCommonPropertySection">
           <input type="org.eclipse.stp.bpmn.Activity"/>
        </propertySection>
     </propertySections>
   </extension>
   
   <!-- signal event parameter section -->
	<extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
     <propertySections contributorId="jadex.editor.bpmn.JadexBpmnEditor">
        <propertySection
              class="jadex.editor.bpmn.editor.properties.JadexIntermediateEventsParameterSection"
              filter="jadex.editor.bpmn.editor.properties.JadexSignalEventFilter"
              id="jadex.tools.bpmn.editor.propertySection.JadexSignalEventParameterSection"
              tab="Jadex"
              afterSection="jadex.tools.bpmn.editor.properties.JadexSignalEventPropertySection">
           <input type="org.eclipse.stp.bpmn.Activity"/>
        </propertySection>
     </propertySections>
   </extension>
   
   
    <!-- message event property section -->
	<extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
     <propertySections contributorId="jadex.editor.bpmn.JadexBpmnEditor">
        <propertySection
              class="jadex.editor.bpmn.editor.properties.JadexMessageEventPropertySection"
              filter="jadex.editor.bpmn.editor.properties.JadexMessageEventFilter"
              id="jadex.tools.bpmn.editor.properties.JadexMessageEventPropertySection"
              tab="Jadex"
              afterSection="jadex.tools.bpmn.editor.properties.JadexCommonPropertySection">
           <input type="org.eclipse.stp.bpmn.Activity"/>
        </propertySection>
     </propertySections>
   </extension>
   
   <!-- message event parameter section -->
	<extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
     <propertySections contributorId="jadex.editor.bpmn.JadexBpmnEditor">
        <propertySection
              class="jadex.editor.bpmn.editor.properties.JadexIntermediateEventsParameterSection"
              filter="jadex.editor.bpmn.editor.properties.JadexMessageEventFilter"
              id="jadex.tools.bpmn.editor.propertySection.JadexMessageEventParameterSection"
              tab="Jadex"
              afterSection="jadex.tools.bpmn.editor.properties.JadexMessageEventPropertySection">
           <input type="org.eclipse.stp.bpmn.Activity"/>
        </propertySection>
     </propertySections>
   </extension>
   
   <!-- error event property section -->
	<extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
     <propertySections contributorId="jadex.editor.bpmn.JadexBpmnEditor">
        <propertySection
              class="jadex.editor.bpmn.editor.properties.JadexErrorEventPropertySection"
              filter="jadex.editor.bpmn.editor.properties.JadexErrorEventFilter"
              id="jadex.tools.bpmn.editor.properties.JadexErrorEventPropertySection"
              tab="Jadex"
              afterSection="jadex.tools.bpmn.editor.properties.JadexCommonPropertySection">
           <input type="org.eclipse.stp.bpmn.Activity"/>
        </propertySection>
     </propertySections>
   </extension>
   
   
    <!-- the jadex sequence property section -->
	<extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
     <propertySections contributorId="jadex.editor.bpmn.JadexBpmnEditor">
        <propertySection
              class="jadex.editor.bpmn.editor.properties.JadexSequencePropertiesSection"
              id="jadex.tools.bpmn.editor.properties.JadexSequencePropertiesSection"
              tab="Jadex"
              afterSection="jadex.tools.bpmn.editor.properties.JadexCommonPropertySection">
           <input type="org.eclipse.stp.bpmn.SequenceEdge"/>
        </propertySection>
     </propertySections>
   </extension>
   
   <!-- the jadex sequence property section -->
	<extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
     <propertySections contributorId="jadex.editor.bpmn.JadexBpmnEditor">
        <propertySection
              class="jadex.editor.bpmn.editor.properties.JadexSequenceMappingSection"
              id="jadex.tools.bpmn.editor.properties.JadexSequenceMappingSection"
              tab="Jadex"
              afterSection="jadex.tools.bpmn.editor.properties.JadexSequencePropertiesSection">
           <input type="org.eclipse.stp.bpmn.SequenceEdge"/>
        </propertySection>
     </propertySections>
   </extension>
   
   
    <!-- the jadex bpmndiagram property section -->
	<extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
     <propertySections contributorId="jadex.editor.bpmn.JadexBpmnEditor">
        <propertySection
              class="jadex.editor.bpmn.editor.properties.JadexBpmnDiagramPropertiesSection"
              id="jadex.tools.bpmn.editor.properties.JadexBpmnDiagramPropertiesSection"
              tab="Jadex"
              afterSection="jadex.tools.bpmn.editor.properties.JadexCommonPropertySection">
           <input type="org.eclipse.stp.bpmn.BpmnDiagram"/>
        </propertySection>
     </propertySections>
   </extension>
     
    <!-- the jadex bpmndiagram flags section -->
	<extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
     <propertySections contributorId="jadex.editor.bpmn.JadexBpmnEditor">
        <propertySection
              class="jadex.editor.bpmn.editor.properties.JadexBpmnDiagramFlagsSection"
              id="jadex.tools.bpmn.editor.properties.JadexBpmnDiagramFlagsSection"
              tab="Jadex"
              afterSection="jadex.tools.bpmn.editor.properties.JadexBpmnDiagramPropertiesSection">
           <input type="org.eclipse.stp.bpmn.BpmnDiagram"/>
        </propertySection>
     </propertySections>
   </extension> 
     
    <!-- the jadex bpmndiagram import section -->
	<extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
     <propertySections contributorId="jadex.editor.bpmn.JadexBpmnEditor">
        <propertySection
              class="jadex.editor.bpmn.editor.properties.JadexBpmnDiagramImportsSection"
              id="jadex.tools.bpmn.editor.properties.JadexBpmnDiagramImportsSection"
              tab="Jadex"
              afterSection="jadex.tools.bpmn.editor.properties.JadexBpmnDiagramFlagsSection">
           <input type="org.eclipse.stp.bpmn.BpmnDiagram"/>
        </propertySection>
     </propertySections>
   </extension>
   
    <!-- the jadex bpmndiagram configurations section -->
	<extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
     <propertySections contributorId="jadex.editor.bpmn.JadexBpmnEditor">
        <propertySection
              class="jadex.editor.bpmn.editor.properties.JadexBpmnDiagramConfigurationsTableSection"
              id="jadex.tools.bpmn.editor.properties.JadexBpmnDiagramConfigurationsTableSection"
              tab="Jadex"
              afterSection="jadex.tools.bpmn.editor.properties.JadexBpmnDiagramImportsSection">
           <input type="org.eclipse.stp.bpmn.BpmnDiagram"/>
        </propertySection>
     </propertySections>
   </extension>
   
    <!-- the jadex bpmndiagram parameter section -->
	<extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
     <propertySections contributorId="jadex.editor.bpmn.JadexBpmnEditor">
        <propertySection
              class="jadex.editor.bpmn.editor.properties.JadexBpmnDiagramParameterSection"
              id="jadex.tools.bpmn.editor.properties.JadexBpmnDiagramParameterSection"
              tab="Jadex"
              afterSection="jadex.tools.bpmn.editor.properties.JadexBpmnDiagramConfigurationsTableSection">
           <input type="org.eclipse.stp.bpmn.BpmnDiagram"/>
        </propertySection>
     </propertySections>
   </extension>
   
    <!-- the jadex bpmndiagram properties section -->
	<extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
     <propertySections contributorId="jadex.editor.bpmn.JadexBpmnEditor">
        <propertySection
              class="jadex.editor.bpmn.editor.properties.JadexBpmnDiagramPropertiesTableSection"
              id="jadex.tools.bpmn.editor.properties.JadexBpmnDiagramPropertiesTableSection"
              tab="Jadex"
              afterSection="jadex.tools.bpmn.editor.properties.JadexBpmnDiagramParameterSection">
           <input type="org.eclipse.stp.bpmn.BpmnDiagram"/>
        </propertySection>
     </propertySections>
   </extension>
   
    <!-- the jadex bpmndiagram provided services section -->
	<extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
     <propertySections contributorId="jadex.editor.bpmn.JadexBpmnEditor">
        <propertySection
              class="jadex.editor.bpmn.editor.properties.JadexBpmnDiagramProvidedServicesTableSection"
              id="jadex.tools.bpmn.editor.properties.JadexBpmnDiagramProvidedServicesTableSection"
              tab="Jadex"
              afterSection="jadex.tools.bpmn.editor.properties.JadexBpmnDiagramPropertiesTableSection">
           <input type="org.eclipse.stp.bpmn.BpmnDiagram"/>
        </propertySection>
     </propertySections>
	</extension>
   
	<!-- the jadex bpmndiagram required services section -->
	<extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
     <propertySections contributorId="jadex.editor.bpmn.JadexBpmnEditor">
        <propertySection
              class="jadex.editor.bpmn.editor.properties.JadexBpmnDiagramRequiredServicesTableSection"
              id="jadex.tools.bpmn.editor.properties.JadexBpmnDiagramRequiredServicesTableSection"
              tab="Jadex"
              afterSection="jadex.tools.bpmn.editor.properties.JadexBpmnDiagramProvidedServicesTableSection">
           <input type="org.eclipse.stp.bpmn.BpmnDiagram"/>
        </propertySection>
     </propertySections>
   </extension>
   
   	<!-- the jadex bpmndiagram service binding section -->
	<extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
     <propertySections contributorId="jadex.editor.bpmn.JadexBpmnEditor">
        <propertySection
              class="jadex.editor.bpmn.editor.properties.JadexBpmnDiagramServiceBindingsTableSection"
              id="jadex.tools.bpmn.editor.properties.JadexBpmnDiagramServiceBindingsTableSection"
              tab="Jadex"
              afterSection="jadex.tools.bpmn.editor.properties.JadexBpmnDiagramRequiredServicesTableSection">
           <input type="org.eclipse.stp.bpmn.BpmnDiagram"/>
        </propertySection>
     </propertySections>
   </extension>
   
   	<!-- the jadex bpmndiagram service binding section -->
	<extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
     <propertySections contributorId="jadex.editor.bpmn.JadexBpmnEditor">
        <propertySection
              class="jadex.editor.bpmn.editor.properties.JadexBpmnDiagramSubcomponentsTableSection"
              id="jadex.tools.bpmn.editor.properties.JadexBpmnDiagramSubcomponentsTableSection"
              tab="Jadex"
              afterSection="jadex.tools.bpmn.editor.properties.JadexBpmnDiagramServiceBindingsTableSection">
           <input type="org.eclipse.stp.bpmn.BpmnDiagram"/>
        </propertySection>
     </propertySections>
   </extension>
   
   <!-- annotation decorator in diagram -->
	<!--
	<extension
        point="org.eclipse.stp.bpmn.diagram.EAnnotationDecorator">
     <decorator
           class="jadex.tools.bpmn.editor.properties.JadexActivityAnnotationDecorator"
           source="task"/>
  </extension>
	-->
	

	<!-- the default palette -->
   <extension point="org.eclipse.gmf.runtime.diagram.ui.paletteProviders">
      <paletteProvider class="org.eclipse.stp.bpmn.diagram.providers.BpmnPaletteProvider">
         <Priority name="Lowest"/>
         <editor id="jadex.editor.bpmn.JadexBpmnEditor"/>
      </paletteProvider>
   </extension>
   
	<!-- some global action handlers -->
	<extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders">
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="BpmnPresentation">
         <Priority name="Lowest"/>
         <ViewId id="jadex.editor.bpmn.JadexBpmnEditor">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="BpmnPresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="jadex.editor.bpmn.JadexBpmnEditor">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="BpmnRender">
         <Priority name="Lowest"/>
         <ViewId id="jadex.editor.bpmn.JadexBpmnEditor">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>
   
   <!-- the appereance properties tab -->
   <extension
       point="org.eclipse.ui.views.properties.tabbed.propertySections">
    <propertySections
          contributorId="jadex.editor.bpmn.JadexBpmnEditor">
       <propertySection
             class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection"
             id="Appearance"
             tab="Appearance">
          <input
                type="java.lang.Object">
          </input>
       </propertySection>
    </propertySections>
 </extension>
 <extension
       point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
    <propertyTabs
          contributorId="jadex.editor.bpmn.JadexBpmnEditor">
       <propertyTab
             category="Appearance"
             id="Appearance"
             indented="false"
             label="Appearance">
       </propertyTab>
    </propertyTabs>
 </extension>
 <extension
       point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
    <propertyContributor
          contributorId="jadex.editor.bpmn.JadexBpmnEditor">
       <propertyCategory
             category="Appearance"></propertyCategory>
    </propertyContributor>
 </extension>
 
 <!-- ruler & grid tab -->
 <extension
       point="org.eclipse.ui.views.properties.tabbed.propertySections">
    <propertySections
          contributorId="jadex.editor.bpmn.JadexBpmnEditor">
       <propertySection
             class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection"
             id="Ruler &amp; Grid"
             tab="Ruler &amp; Grid">
          <input
                type="java.lang.Object">
          </input>
       </propertySection>
    </propertySections>
 </extension>
 <extension
       point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
    <propertyTabs
          contributorId="jadex.editor.bpmn.JadexBpmnEditor">
       <propertyTab
             category="Ruler &amp; Grid"
             id="Ruler &amp; Grid"
             label="Ruler &amp; Grid">
       </propertyTab>
    </propertyTabs>
 </extension>
 <extension
       point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
    <propertyContributor
          contributorId="jadex.editor.bpmn.JadexBpmnEditor">
       <propertyCategory
             category="Ruler &amp; Grid">
       </propertyCategory>
    </propertyContributor>
 </extension>
 
 <!-- the Annotations property tab from BPMN Modeler - this is a modified copy from BPMN plugin.xml-->
 <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="jadex.editor.bpmn.JadexBpmnEditor"
            typeMapper="org.eclipse.stp.bpmn.properties.EAnnotationsTypeMapper">
         <propertyCategory category="Annotations"/>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs contributorId="jadex.editor.bpmn.JadexBpmnEditor">
         <propertyTab
               category="Annotations"
               id="Annotations"
               indented="false"
               label="Annotations"/>
               <!-- label="%propertyTab_label"/> -->
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="jadex.editor.bpmn.JadexBpmnEditor">
         <propertySection
               class="org.eclipse.stp.bpmn.properties.EAnnotationsMapSection"
               id="Annotations Map"
               tab="Annotations">
            <input type="org.eclipse.stp.bpmn.Identifiable"/>
            <input type="org.eclipse.emf.ecore.EObject"/>
            <!-- <input type="java.lang.Object"/> -->
         </propertySection>
      </propertySections>
   </extension>
 
 
 <!-- define custom commands -->
	<extension point="org.eclipse.ui.commands">
		<?gmfgen generated="false"?>
		<category 
			name="Converter" 
			description="Commands related to convert BPMN diagrams." 
			id="jadex.tools.bpmn.diagram.ui.category.bpmn.convert"/>
				<command 
					categoryId="jadex.tools.bpmn.diagram.ui.category.bpmn.convert" 
					description="Convert properties tables" 
					id="jadex.tools.bpmn.diagram.ui.commands.bpmn.convertTables" 
					name="Convert Jadex properties">
				</command>
	</extension>
	
	<!-- add custom commands to menu -->
	<extension point="org.eclipse.ui.popupMenus">
	<?gmfgen generated="false"?>
	  <!-- BpmnDiagram -->
	  <objectContribution
	    adaptable="false"
	    id="jadex.tools.bpmn.diagram.ui.objectContribution.BpmnDiagramEditPart1"
	    objectClass="org.eclipse.gef.EditPart">
	    <!-- objectClass="org.eclipse.stp.bpmn.diagram.edit.parts.BpmnDiagramEditPart"> -->
		 <!--
		 <menu 
		    id="BPMN" 
		    label="BPMN" 
		    path="additions"> 
		    <separator name="group1"/>
		 </menu>
		 -->
		 <action
		       class="jadex.editor.bpmn.diagram.actions.ConvertDiagramPropertiesAction"
		       definitionId="jadex.tools.bpmn.diagram.ui.commands.bpmn.convertTables"
		       enablesFor="1"
		       id="jadex.tools.bpmn.diagram.actions.ConvertDiagramPropertiesActionID"
		       label="Convert property tables">
		       <!--
		       menubarPath="BPMN/group1">
		       -->
		 </action>
	 </objectContribution>
	</extension>
 
</plugin>
