<style type="text/css">

html, body 
{
    height: 100%;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, 
var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, 
tbody, tfoot, thead, tr, th, td 
{
    border: 0 none;
    font-family: sans-serif;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0 none;
    padding: 0;
}
	
a, a:link, a:active, a:visited 
{
    color: #39397F;
    text-decoration: none;
}

a:hover 
{
    color: #00007E;
    text-decoration: underline;
}

body 
{
 	background: none repeat scroll 0 0 white;
    color: black;
    line-height: 1em;
}

.header
{
	padding-left: 25px;
	background: white;	
}

.middle
{
	padding-left: 25px;
	background: #fff2cc;
}

.method
{
	padding-top: 10px;
	padding-bottom: 10px;
    position: relative;
	border-bottom: 1px dashed #000000;
}

.methodname
{
	padding-top: 5px;
	font-style: italic;
	font-size: 120%;
}
	
.restproperties
{
	padding-top: 5px;
}

.arguments
{
	padding-top: 5px;
}

.servicelink
{
	padding-top: 5px;
}

h1 
{
    font-size: 2.1em;
    font-weight: normal;
    line-height: 1.1em;
    margin: 20px 0 15px;
}

h2 
{
    font-size: 1.7em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.1em;
    margin: 15px 0 10px;
}

h3 
{
    font-size: 1.5em;
    font-weight: normal;
    line-height: 1.1em;
    margin: 10px 0 5px;
}

h4 
{
    font-size: 1.3em;
    font-weight: normal;
    left: 0;
    line-height: 1.1em;
    margin: 10px 0 5px;
}

h5 
{
    font-size: 1.2em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.1em;
    margin: 8px 0 5px;
}

span.powered
{
	margin-left:	25px; 
}

.jadexurl
{
	margin-right:	25px; 
}

/** Jadex stripes before powered by jadex. */
div.powered::before
{
	display:	block;
	content:	'';
	height:	10;
	clear:	both;
	background:	url(data:image/jpeg;base64,$stripes);
	margin:	25px 0px 7px;
}

/** dash before jadex url. */
.jadexurl::before
{
	content:	' - ';
}

/** Jadex stripes after heading. * /
.header::after
{
	display:	block;
	content:	'';
	height:	10;
	clear:	both;
	background:	url(data:image/jpeg;base64,$stripes);
	margin:	5px 0px;
}*/

</style>