/* -------- original styles from activecomponent.org -------- */

body {
	font-family: Open Sans;
  	font-size: 14px;
}

.acbutton{
	/*
	background-color: #1f79a0;
	border-color: #73b4d0;
	border-radius: 6px;
	line-height: 1.5;
	padding: 3px 3px;
	*/
	background-color:#2a6699;
	border-radius:10px 4px 10px 4px;
	font-size:16px;
	font-weight:bold;
	font-weight:600;
	padding-top:10px;
	padding-bottom:10px;
	border: 0px;
	
	color: #fff;
	margin-top:5px;
	display: block;
	width:100%;
}

.actext{
	background-color:#f0f6f8;
	border-radius:10px 4px 10px 4px;
	font-size:1em;
	font-weight:bold;
	font-weight:300;
	padding:10px;
	border: 1px solid #2a6699;
	
	color: #2a6699;
	margin-top:5px;
	display: block;
	width:100%;
}

.acframe{
	border-radius:10px 4px 10px 4px;
	padding:10px;
	border: 1px solid #2a6699;
	display: block;
	width:100%;
}

.nav-pills.actabs  > li > a{
	font-family: 'Open Sans', sans-serif;
	font-size:16px;
	font-weight:bold;
	font-weight:600;
	border-radius:10px 4px 10px 4px;
}

.nav-pills.actabs  > .active > a{
	background: #2a6699;
}

a:link {
    color:#1f79a0
}

a:visited,a:hover,a:active {
	color:#73b4d0
}

.flex-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.flex-row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.actdesc{text-align: justify;}
.acthdrimg{height: 28px;padding-right: 10px;}

.actwtable table {
    border-collapse: unset;
}
.actwtable th, .actwtable td {
  border-right: 1px solid #2a6699;
  border-bottom: 1px solid #2a6699;
    padding: 3px 4px;
}
.actwtable table tr th:first-child, .actwtable table tr td:first-child {
  border-left: 1px solid #2a6699;
}
.actwtable tr:first-child th, .actwtable tr:first-child td {
  border-top: 1px solid #2a6699;
}
.actwtable th{
    background-color: #2a6699;
    color:	white;
    font-weight: 700;
    text-align:	center;
}
.actwtable th a:link, .actwtable th a:visited {
    color:	white;
}
.actwtable caption, .actwtable th, .actwtable td{
    font-size: 1em;
}
.actwtable tr:first-child td:first-child, .actwtable tr:first-child th:first-child {
	border-top-left-radius: 10px;
}
.actwtable tr:last-child td:last-child, .actwtable tr:last-child th:last-child {
	border-bottom-right-radius: 10px;
}
.actwtable tr:first-child td:last-child, .actwtable tr:first-child th:last-child {
	border-top-right-radius: 4px;
}
.actwtable tr:last-child td:first-child, .actwtable tr:last-child th:first-child {
	border-bottom-left-radius: 4px;
}
.hortable td{
    padding-left:	7px;
}
.hortable tr:not(:last-child) th {
    border-bottom: 1px solid #fff;
}
.actwtable:not(.hortable) th:not(:last-child) {
    border-right: 1px solid #fff;
}


#innertopbar,#innerfooterbar{
/* #body,#fbar,#content{ */
	margin-left:5%;
	margin-right:5%;
}

.section{
	padding-left:	5%;
	padding-right:	5%;
	overflow:	hidden;
}
.section:nth-of-type(2n) {
    background: #ebf3f5;
    background: linear-gradient(to right, #ffffff, #ebf3f5 20%, #ebf3f5 80%, #ffffff);
/* 	background: linear-gradient(to right, #ffffff, #ead085 20%, #ead085 80%, #ffffff); */
}

.selected {
	background: #fbf945;
}

.section:nth-of-type(2n) td:not(.selected) {
    background: white;
}
.section:nth-of-type(2n+1) td:not(.selected) {
    background: #f0f6f8;
}


table {
	margin: 0 0 10px;
}


/* -------- custom styles for runtimetools-web -------- */

/* grey out disconnected platforms. */
.connecting {
	color: graytext;
}

/* Display icon for broken connection. */
.down {
	position: relative;
}
.down::after {
	/* grey out */
	content: "";
	position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
	
	/* https://www.iconfinder.com/icons/2124469/app_essential_global_network_ui_icon */
	/* Changed SVG view box for smaller centered appearance and circle (x) to red. */
	background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pjxzdmcgdmlld0JveD0iLTMyIC0zMiA5NiA5NiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6bm9uZTtzdHJva2U6IzAwMDtzdHJva2UtbGluZWpvaW46cm91bmQ7c3Ryb2tlLXdpZHRoOjJweDt9LnJlZHtzdHJva2U6I0ZGMDAwMH08L3N0eWxlPjwvZGVmcz48dGl0bGUvPjxnIGNsYXNzPSJjbHMtMSI+PHBhdGggZD0iTTE2LDMxQTE1LDE1LDAsMSwxLDMxLDE2Ii8+PGxpbmUgeDE9IjE2IiB4Mj0iMTYiIHkxPSIxIiB5Mj0iMTMiLz48bGluZSB4MT0iMjQiIHgyPSIyNCIgeTE9IjMiIHkyPSIxMiIvPjxsaW5lIHgxPSI4IiB4Mj0iOCIgeTE9IjMiIHkyPSIyOSIvPjxsaW5lIHgxPSIxIiB4Mj0iMTQiIHkxPSIxNiIgeTI9IjE2Ii8+PGxpbmUgeDE9IjMiIHgyPSIyOSIgeTE9IjkiIHkyPSI5Ii8+PGxpbmUgeDE9IjMiIHgyPSIxMiIgeTE9IjIzIiB5Mj0iMjMiLz48Y2lyY2xlIGNsYXNzPSJyZWQiIGN4PSIyMyIgY3k9IjIzIiByPSI4Ii8+PGxpbmUgY2xhc3M9InJlZCIgeDE9IjIwIiB4Mj0iMjYiIHkxPSIyMCIgeTI9IjI2Ii8+PGxpbmUgY2xhc3M9InJlZCIgeDE9IjI2IiB4Mj0iMjAiIHkxPSIyMCIgeTI9IjI2Ii8+PC9nPjwvc3ZnPg==');
    background-size: 50%; 
    background-repeat: no-repeat;
    background-position: center;
    bottom: 0px;
}