<!DOCTYPE html>
<html ng-app='ngPuzzle'>
	<head>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body ng-controller="PuzzleBoard">
	
		<div id="gameContainer">
			<table>
				<tr ng-repeat="column in board">
					<td class="cell" ng-repeat="cell in column">{{cell}}</td>
				</tr>
			</table>
			<div id="startGame" ng-click="setupBoard()">Restart Game</div>
		</div>
	
		<script data-require="angular.js@1.0.7" data-semver="1.0.7" src="http://code.angularjs.org/1.0.7/angular.min.js"></script>
		<script src="app.js"></script>
	</body>
</html>
