<!DOCTYPE html>
<html ng-app='ngPuzzle'>
	<head>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body ng-controller="PuzzleBoard">
	
		<div id="gameContainer">
			<table class="board">
				<tr>
					<td></td>
					<th ng-repeat="cell in board[0] track by $index">{{columnName($index, true)}}</th>
					<td></td>
				</tr>
				<tr ng-repeat="row in board track by $index">
					<th>{{rowName($index, true)}}</th>
					<td class="cell{{boardsize}} {{cell}} {{moveable($index, $parent.$index)}}"
						ng-repeat="cell in row track by $index" ng-click="doMove($index, $parent.$index)"></td>
					<th>{{rowName($index, false)}}</th>
				</tr>
				<tr>
					<td></td>
					<th ng-repeat="cell in board[0]  track by $index">{{columnName($index, false)}}</th>
					<td></td>
				</tr>
			</table>
			<select name="singleSelect" ng-model="newsize">
				<option ng-repeat="size in sizes" value="{{size}}">Size {{size}}</option>
			</select>
			<div id="startGame" ng-click="restart()">Restart Game</div>
		</div>
	
		<script src="https://code.angularjs.org/1.5.2/angular.min.js"></script>
		<script src="app.js"></script>
	</body>
</html>
