.board {
    width: 50%;
    border-collapse: collapse;
}

.cell3 {
	width:	33.333%;
    padding-bottom: 33.333%;
}
.cell5 {
	width:	20%;
    padding-bottom: 20%;
}
.cell7 {
	width:	14.286%;
    padding-bottom: 14.286%;
}
.cell9 {
	width:	11.111%;
    padding-bottom: 11.111%;
}
.cell11 {
	width:	9.091%;
    padding-bottom: 9.091%;
}

.cell {
	position:	relative;
	background-size:	100% 100%;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.red::before {
	content:	"";
	position:	absolute;

	width:	70%;
	top:	15%;
	right:	15%;
	bottom:	15%;
	left:	15%;
	
	border-radius: 50%;
	background: #ce2121;
	background:	linear-gradient(to bottom right, #e76b6b, #ce2121);
	
	box-shadow:	1px 1px 3px rgba(105,17,18,0.9);
}
.white::before {
	content:	"";
	position:	absolute;

	width:	70%;
	top:	15%;
	right:	15%;
	bottom:	15%;
	left:	15%;
	
	border-radius: 50%;
	background: #ccaa99;
	background:	linear-gradient(to bottom right, #ffffff, #dfcabf);
	
	box-shadow:	1px 1px 3px rgba(139,92,69,0.9);
}
.red, .white, .empty {
	/* border-radius: 10%; */
	background:	linear-gradient(to bottom right, #8699c2, #9eaece);
	box-shadow: 0 0 20px rgba(134, 153, 194, 1);
}

.moveable:hover {
	cursor: pointer;
	box-shadow: inset 0 0 10px rgba(255, 255, 0, 1);
}

/* ::after allows additonal background on top of existing  */
.moveable::after {
	content:	"";
	position:	absolute;

	width:	18%;
	top:	41%;
	right:	41%;
	bottom:	41%;
	left:	41%;

	border-radius: 50%;
	background: #ffff00;
	background:	linear-gradient(to bottom right, #ffffff, #ffff00);
	box-shadow: 0 0 10px #bdbe40;
}

.button {
	width: 120px;
	padding: 10px;
	margin: 5px 2px 2px 2px;
	text-align: center;
	border-radius: 5px;
	background: #ce2121;
	background:	linear-gradient(to bottom right, #e76b6b, #ce2121);
	box-shadow:	1px 1px 3px rgba(105,17,18,0.9);
	/*background:	linear-gradient(to bottom right, #9eaece, #8699c2);
	box-shadow:	1px 1px 3px #8699c2;*/
	font-family: Sans-Serif;
	color: white;
}

.button:hover {
	color: black;
	cursor: pointer;
}

.button:active {
	box-shadow:	-1px -1px 3px rgba(105,17,18,0.9);
	margin: 7px 0px 0px 4px;
}

.controls {
	padding: 1px; /* prevents button margins to be combined. */
	float: left;
}