<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>jadex-applications-web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>HelloDispatcher</servlet-name>
    <servlet-class>jadex.web.examples.helloworld.JadexDispatcherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloDispatcher</servlet-name>
    <url-pattern>/hello/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PuzzleDispatcher</servlet-name>
    <servlet-class>jadex.web.examples.puzzle.servlet.PuzzleDispatcherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PuzzleDispatcher</servlet-name>
    <url-pattern>/puzzle/*</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>HelloBDIV3Dispatcher</servlet-name>
    <servlet-class>jadex.web.examples.hellobdiv3.JadexDispatcherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloBDIV3Dispatcher</servlet-name>
    <url-pattern>/hellobdiv3/*</url-pattern>
  </servlet-mapping>
  <!-- 
  <servlet>
    <servlet-name>Jaxcent</servlet-name>
    <servlet-class>jadex.web.tools.jadexdoc.JaxcentFixServlet</servlet-class>
    <init-param>
      <param-name>JaxcentConfigXML</param-name>
      <param-value>WEB-INF/jsp/jadexdoc/jaxcent_config.xml</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jaxcent</servlet-name>
    <url-pattern>/jaxcent/JaxcentServlet21</url-pattern>
  </servlet-mapping>
   -->
  <servlet>
    <servlet-name>Jadexdoc</servlet-name>
    <servlet-class>jadex.web.tools.jadexdoc.JadexdocServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jadexdoc</servlet-name>
    <url-pattern>/jadexdoc/*</url-pattern>
  </servlet-mapping>
</web-app>