<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jadex.android.test"
    android:versionCode="3"
    android:versionName="2.2" >

    <uses-sdk android:minSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <instrumentation
        android:name="jadex.android.test.JadexInstrumentor"
        android:targetPackage="jadex.android.testlauncher"
         />

    <application>
        <uses-library android:name="android.test.runner" />
    </application>

</manifest>